 html {
  scroll-behavior: smooth;
}

.enriched-gene-link {
    background-color: #a2cdff;
    color: #24243a;
    padding: 1px 4px;
    margin-top: 3px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none !important;
}

.drug-link {
    background-color: #ff899c;
    color: #3a0613;
    padding: 1px 4px;
    margin-top: 3px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none !important;
}

.subtle-link {
    text-decoration-line: underline;
    text-decoration-color: #007aca70;
}

.enrichment-popover {
    max-width: 30rem;
}

.wrapped {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

a {
    color: #007aca;
}

.round-pill {
    border-radius: 1.5rem !important;
    padding: .3rem .8rem !important;
}

.round-pill.active {
    background-color: #2975c8 !important;
}

.cat-pill {
    border-radius: .2rem !important;
    padding: .1rem .7rem !important;
}

.cat-pill.active {
    background-color: #7fa4cc !important;
}