<!doctype html>
<html lang="en">
<head>
    {% block style %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">

        <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom_dataTables.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom_select_dataTables.css') }}"/>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    {% endblock %}
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ url_for('static', filename='thumbnail.png') }}"/>
    {% block og %}
    {% endblock %}
    {% block head %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

<footer class="footer">
    <div class="container">
        <div class="row justify-content-center m-5">
            <div class="col-md-2 col-sm text-center">
                <a href="https://icahn.mssm.edu/research/bioinformatics" target="_blank">
                    <img class="rounded" src="{{ url_for('static', filename='icahn_cb.png') }}" style="height: 5rem;">
                </a>
            </div>
            <div class="col-md-2 col-sm text-center">
                <a href="http://lincs-dcic.org" target="_blank">
                    <img class="rounded" src="{{ url_for('static', filename='dcic_light.png') }}" style="height: 5rem;">
                </a>
            </div>
            <div class="col-md-2 col-sm text-center">
                <a href="https://labs.icahn.mssm.edu/maayanlab/" target="_blank">
                    <img class="rounded" src="{{ url_for('static', filename='maayanlab_logo.png') }}"
                         style="height: 5rem;">
                </a>
            </div>
            <div class="col-md-2 col-sm">
                <div class="row my-2">
                    <a class="badge badge-secondary px-2" href="https://github.com/MaayanLab/covid19_crowd_library" target="_blank">
                        <span class="badge badge-light">
                            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                 style="width: 1rem;">
                </span>
                        View source code
                    </a>
                </div>
                <div class="row my-2">
                    <a class="badge badge-secondary px-2"
                       href="https://github.com/MaayanLab/covid19_crowd_library/issues/new" target="_blank">
                        <span class="badge badge-light">
                        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                             style="width: 1rem;">
                            </span>
                        Submit an issue
                    </a>

                </div>
            </div>
            {% block socialbuttons %}
            {% endblock %}
        </div>
    <div class="row justify-content-center">
        <small><p class="text-muted"><a href="https://www.cell.com/patterns/fulltext/S2666-3899(20)30118-5" target="_blank">The COVID-19 Gene and Drug Set Library. Kuleshov et al. Patterns. 2020 Jul 25:100090</a></p></small>
    </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/rg-1.1.1/sc-2.0.1/sp-1.0.1/datatables.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

<script type="text/javascript" src="https://kit.fontawesome.com/1295b553b3.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='geneset.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='drugset.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='modules/venn/venn.js') }}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-6277639-45"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-6277639-45');
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>


<script>
    $(document).ready(function () {
        // Force https if not on dev
        if ((location.protocol !== 'https:') && (location.hostname !== '0.0.0.0')) {
            location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
        }
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>