{% block collections %}
    <div class="row justify-content-center mb-3">
        <div class="col-10">
            <div class="row">
                <div class="card-deck">
                    <div class="card border-drug h-100">
                        {#                        <div class="card-header">#}
                        {#                            <h6>In-vitro drug screens</h6>#}
                        {#                        </div>#}
                        <div class="card-body">
                            <h5 class="card-title">12 in-vitro drug screen drug sets</h5>
                            <p class="card-text">In-vitro drug screens to identify compounds that block SARS-CoV-2
                                replication in cell-based reporter assays.</p>
                        </div>
                        <div class="card-footer footer-drug">
                            <a href="https://appyters.maayanlab.cloud/Drugmonizome_Consensus_Terms/f897f1cb-c9cf-4976-bff0-c5c748ee9361"
                               class="card-link" target="_blank"><i class="fas fa-book"></i></a>
                            <a href="static/SARS-CoV-2_In-Vitro_Drug_Screens_v1_11-09-20.gmt" class="card-link"
                               target="_blank"><i
                                    class="fas fa-download"></i></a>
                        </div>
                    </div>
                    <div class="card border-gene h-100">
                        {#                        <div class="card-header">#}
                        {#                            <h6>Differential expression signatures</h6>#}
                        {#                        </div>#}
                        <div class="card-body">
                            <h5 class="card-title">60 differential expression signatures gene sets</h5>
                            <p class="card-text">Genome-wide differentially expressed genes in cells and tissues due to
                                SARS-CoV-2 infection profiled with RNA-seq.</p>
                        </div>
                        <div class="card-footer footer-gene">
                            <a href="https://appyters.maayanlab.cloud/Enrichr_Consensus_Terms/ea5e87c0-43f0-4c6d-a808-2bfda9a316a7/"
                               class="card-link" target="_blank"><i
                                    class="fas fa-book"></i></a>
                            <a href="https://appyters.maayanlab.cloud/L1000FWD_Consensus_Drugs/5b6cf7cfd0efb4462fe6759f74738fa34f0e399b/"
                               class="card-link" target="_blank"><i
                                    class="fas fa-book"></i></a>
                            <a href="static/SARS-CoV-2_RNAseq_Datasets_v3_11-09-20.gmt" class="card-link"
                               target="_blank"><i
                                    class="fas fa-download"></i></a>
                        </div>
                    </div>
                    <div class="card border-gene h-100">
                        {#                        <div class="card-header">#}
                        {#                            <h6>CRISPR screens</h6>#}
                        {#                        </div>#}
                        <div class="card-body">
                            <h5 class="card-title">16 CRISPR screen gene sets</h5>
                            <p class="card-text">Genome-wide CRISPR screens to identify hits that increase or decrease
                                SARS-CoV-2 proliferation in cell-based assays.</p>
                        </div>
                        <div class="card-footer footer-gene">
                            <a href="https://appyters.maayanlab.cloud/Enrichr_Consensus_Terms/bba5face-c7b0-43b8-a266-096207f7d86a/"
                               class="card-link" target="_blank"><i
                                    class="fas fa-book"></i></a>
                            <a href="static/GenomeWideCRISPR-Screens_GeneSets_Composite_SARS-CoV-2_v1_10-29-20.gmt"
                               class="card-link" target="_blank"><i class="fas fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}