{% block collections %}
    <div class="row justify-content-center m-3">
        <div class="col-10">
            <div class="row">
                <div class="card-deck">
                    <div class="card border-drug h-100">
                        <div class="card-body">
                            <a href="collection/5"><span class="h4">{{ collections[0] }} </span><span class="h5">in-vitro drug screen drug sets</span></a>
                            <p class="card-text">In-vitro drug screens to identify compounds that block SARS-CoV-2
                                replication in cell-based reporter assays.</p>
                        </div>
                        <div class="card-footer footer-drug">
                            <a data-toggle="tooltip" title="Open Drugmonizome Consensus Terms appyter" href="https://appyters.maayanlab.cloud/Drugmonizome_Consensus_Terms/f897f1cb-c9cf-4976-bff0-c5c748ee9361/"
                               class="card-link" target="_blank"><i class="fas fa-book"></i></a>
                            <a data-toggle="tooltip" title="Download a .gmt file" href="static/SARS-CoV-2_In-Vitro_Drug_Screens_v1_11-09-20.gmt" download="static/SARS-CoV-2_In-Vitro_Drug_Screens_v1_11-09-20.gmt" class="card-link"><i
                                    class="fas fa-download"></i></a>
                            <a data-toggle="tooltip" title="Open a spreadsheet with metadata" href="https://docs.google.com/spreadsheets/d/16Vt40I8nZgaPhIXYwsJp4iZ-T0jdYukBMb5bNp_2VwA/edit#gid=0" class="card-link">
                                <i class="fas fa-table"></i></a>
                        </div>
                    </div>
                    <div class="card border-gene h-100">
                        <div class="card-body">
                            <a href="collection/7" ><span class="h4">{{ collections[1] }} </span><span class="h5">differential expression signatures gene sets</span></a>
                            <p class="card-text">Genome-wide differentially expressed genes in cells and tissues due to
                                SARS-CoV-2 infection profiled with RNA-seq.</p>
                        </div>
                        <div class="card-footer footer-gene">
                            <a data-toggle="tooltip" title="Open Enrichr Consensus Terms appyter" href="https://appyters.maayanlab.cloud/Enrichr_Consensus_Terms/831b6368-2f38-49d2-ae00-4cb9ed5851d7/"
                               class="card-link" target="_blank"><i
                                    class="fas fa-book"></i></a>
                            <a data-toggle="tooltip" title="Open L1000FWD Consensus Drugs appyter" href="https://appyters.maayanlab.cloud/L1000FWD_Consensus_Drugs/a61b19548571cb49512e9e28355adc6d382597dd/"
                               class="card-link" target="_blank"><i
                                    class="fas fa-book"></i></a>
                            <a data-toggle="tooltip" title="Download a .gmt file" href="static/SARS-CoV-2_RNAseq_Datasets_v3_11-09-20.gmt" download="static/SARS-CoV-2_RNAseq_Datasets_v3_11-09-20.gmt" class="card-link"><i
                                    class="fas fa-download"></i></a>
                            <a data-toggle="tooltip" title="Open a spreadsheet with metadata" href="https://docs.google.com/spreadsheets/d/115J_ALPIpdL80HNKFSl7eUk44MuEerBX-FFuZYIKejs/edit#gid=266904314" class="card-link">
                                <i class="fas fa-table"></i></a>
                        </div>
                    </div>
                    <div class="card border-gene h-100">
                        <div class="card-body">
                            <a href="collection/6" ><span class="h4">{{ collections[2] }} </span><span class="h5">CRISPR screen gene sets</span></a>
                            <p class="card-text">Genome-wide CRISPR screens to identify hits that increase or decrease
                                SARS-CoV-2 proliferation in cell-based assays.</p>
                        </div>
                        <div class="card-footer footer-gene">
                            <a data-toggle="tooltip" title="Open Enrichr Consensus Terms appyter" href="https://appyters.maayanlab.cloud/Enrichr_Consensus_Terms/b29a835e-e1f2-4fff-816c-972c1f69805b/"
                               class="card-link" target="_blank"><i
                                    class="fas fa-book"></i></a>
                            <a data-toggle="tooltip" title="Download a .gmt file" href="static/GenomeWideCRISPR-Screens_GeneSets_Composite_SARS-CoV-2_v1_10-29-20.gmt" download="static/GenomeWideCRISPR-Screens_GeneSets_Composite_SARS-CoV-2_v1_10-29-20.gmt"
                               class="card-link"><i class="fas fa-download"></i></a>
                            <a data-toggle="tooltip" title="Open a spreadsheet with metadata" href="https://docs.google.com/spreadsheets/d/1LtyZgvoYBONt1lK6oZiQzBrQWXjCBGfedamb0GV93JI/" class="card-link">
                                <i class="fas fa-table"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}