{% extends "base.html" %}

{% block og %}
    <meta property="og:url" content="https://{{ base_path }}/covid19/collections/{{ collection['id'] }}"/>
    <meta property="og:title"
          content="{{ collection['sets']['drugsets']|length + collection['sets']['genesets']|length }} {{ collection['name'] }} - The COVID-19 Drug and Gene Set Library"/>
    <meta property="og:description" content="{{ collection['description'] }}"/>
{% endblock %}

{% block head %}
    <title>{{ collection['sets']['drugsets']|length + collection['sets']['genesets']|length }} {{ collection['name'] }}</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-4 mb-2">
            <div class="d-flex align-items-start">

                <a href={{ url_for("route_index") }}>
                    <img style="width: 2.5rem" src="{{ url_for('static', filename='logo.png') }}"></a>
                <a style="color: #212529" href={{ url_for("route_index") }}>
                    <h1 class="display-5">The COVID-19 Drug and Gene Set Library</h1></a>
            </div>
            <p>A collection of gene and drug sets related to COVID-19 research contributed by the community</p>
        </div>
        <div class="py-5 text-center">
            <h2>{{ collection['sets']['drugsets']|length + collection['sets']['genesets']|length }} {{ collection['name'] }}</h2>
        </div>
        <div class="row">
            <div class="col-md-3 mb-4">
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">{{ collection['sets']['drugsets']|length + collection['sets']['genesets']|length }} {{ collection['name'] }}</h6>
                            <span class="text-muted wrapped">{{ collection['description'] }}</span>
                        </div>
                    </li>
                </ul>

                {% if collection['sets']['genesets'] %}
                    <h5 class="mb-4">Top 10 genes</h5>
                    <svg id="top_genes_coll_bargraph"></svg>
                {% endif %}

                {% if collection['sets']['drugsets'] %}
                    <h5 class="mb-4">Top 10 drugs</h5>
                    <svg id="top_drugs_coll_bargraph"></svg>
                {% endif %}


            </div>
            <div class="col-md-9 order-md-1">
                <div class="mb-3">
                    {% if collection['sets']['genesets'] %}
                        {% if collection['sets']['drugsets'] %}
                            <h4 class="mb-4">Gene sets</h4>
                        {% endif %}
                        <div class="container-fluid" style="display: block">
                            <table id="collection_geneset_table" class="table compact hover order-column row-border"
                                   style="width:100%">
                            </table>
                        </div>
                    {% endif %}
                    {% if collection['sets']['drugsets'] %}
                        {% if collection['sets']['genesets'] %}
                            <h4 class="mb-4">Drug sets</h4>
                        {% endif %}
                        <div class="container-fluid" style="display: block">
                            <table id="collection_drugset_table" class="table compact hover order-column row-border"
                                   style="width:100%">
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block socialbuttons %}
    <div class="col-md-2 col-sm">
        <div class="row my-2 ml-2">
            <!-- Twitted share button -->
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
               data-text="{{ collection['name'] }} data sets collection from The COVID-19 Drug and Gene Set Library"
               data-url="https://{{ base_path }}/covid19/collections/{{ collection['id'] }}" data-via="MaayanLab"
               data-hashtags="COVID, COVID19"
               data-show-count="false">Tweet</a>
        </div>
        <div class="row my-2 ml-2">
            <!-- LinkedIn share button -->
            <script type="IN/Share"
                    data-url="https://{{ base_path }}/covid19/collections/{{ collection['id'] }}"></script>
        </div>
        <!-- Facebook share button -->
        <div class="row my-2 ml-2">
            <div class="fb-share-button" data-href="https://{{ base_path }}/covid19/collections/{{ collection['id'] }}"
                 data-layout="button" data-size="small">
                <div class="fb-share-button"
                     data-href="https://{{ base_path }}/covid19/collections/{{ collection['id'] }}"
                     data-layout="button"
                     data-size="small">
                    <a target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F{{ base_path }}%2Fcovid19%2Fcollections%2F{{ collection['id'] }}&amp;src=sdkpreparse"
                       class="fb-xfbml-parse-ignore">Share</a></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='bargraph.js') }}"></script>
    <script>
        $(document).ready(function () {
            ds_drawTable('{{ url_for("route_collection_drugsets_table") }}', 'collection_drugset_table', 1, '{{ url_for("route_overlap_drugsets") }}', 0, {{ collection['id'] }});
            gs_drawTable('{{ url_for("route_collection_genesets_table") }}', 1, '{{ url_for("route_overlap_genesets") }}', 'collection_geneset_table', {{ collection['id'] }});
            $.get(`{{ url_for("route_top_coll") }}/{{ collection['id'] }}`, function (data) {
                chart(JSON.parse(data)['data']['top_genes'], 'top_genes_coll', 10, "#3e8cd6", 250);
                chart(JSON.parse(data)['data']['top_drugs'], 'top_drugs_coll', 10, "#ff8080", 250);
            });
        });
    </script>
{% endblock %}