{% extends "base.html" %}

{% block og %}
    <meta property="og:url" content="https://amp.pharm.mssm.edu/covid19/drugs/{{ drug['id'] }}"/>
    <meta property="og:title"
          content="{{ drug['name'] }} - The COVID-19 Drug and Gene Set Library"/>
{% endblock %}

{% block head %}
    <title>{{ drug['name'] }}</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-4 mb-2">
            <div class="d-flex align-items-start">
                <a href={{ url_for("route_index") }}>
                    <img style="width: 2.5rem" src="{{ url_for('static', filename='logo.png') }}"></a>
                <a style="color: #212529" href={{ url_for("route_index") }}>
                    <h1 class="display-5">The COVID-19 Drug and Gene Set Library</h1></a>
            </div>
            <p>A collection of gene and drug sets related to COVID-19 research contributed by the community</p>
        </div>
        <div class="py-5 text-center">
            <h2>{{ drug['name'] }}</h2>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">DrugBank link</h6>
                            <a href="https://www.drugbank.ca/unearth/q?utf8=✓&searcher=drugs&query={{ drug['name'] }}"
                               target="_blank"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </li>
                    {% if 'twitter' in drug %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Twitter datasets mentions since {{ drug['start'] }}</h6>
                                <svg id="drug_twitter_daily" class="spark mt-1"></svg>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="badge badge-secondary badge-pill">{{ drug['sets']|length }} experimental and computational sets</span>
                </h4>
                <div class="mb-3">
                    {% for drugset in drug['sets'] %}
                        <a class="drug-link"
                           href="https://amp.pharm.mssm.edu/covid19/drugsets/{{ drugset['id'] }}"
                           target="_blank">{{ drugset['name'] }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block socialbuttons %}
    <div class="col-md-2 col-sm">
        <div class="row my-2 ml-2">
            <!-- Twitted share button -->
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
               data-text="{{ drug['name'] }} from The COVID-19 Drug and Gene Set Library"
               data-url="https://amp.pharm.mssm.edu/covid19/drugsets/{{ drug['id'] }}" data-via="MaayanLab"
               data-hashtags="COVID, COVID19"
               data-show-count="false">Tweet</a>
        </div>
        <div class="row my-2 ml-2">
            <!-- LinkedIn share button -->
            <script type="IN/Share" data-url="https://amp.pharm.mssm.edu/covid19/drugsets/{{ drug['id'] }}"></script>
        </div>
        <!-- Facebook share button -->
        <div class="row my-2 ml-2">
            <div class="fb-share-button" data-href="https://amp.pharm.mssm.edu/covid19/drugsets/{{ drug['id'] }}"
                 data-layout="button" data-size="small">
                <div class="fb-share-button" data-href="https://amp.pharm.mssm.edu/covid19/drugsets/{{ drug['id'] }}"
                     data-layout="button"
                     data-size="small">
                    <a target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Famp.pharm.mssm.edu%2Fcovid19%2Fdrugsets%2F{{ drug['id'] }}&amp;src=sdkpreparse"
                       class="fb-xfbml-parse-ignore">Share</a></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
        <script type="text/javascript" src="{{ url_for('static', filename='submissions.js') }}"></script>
    <script>
        $(document).ready(function () {
            {% if 'twitter' in drug %}
                let data = JSON.parse(`{{ drug['twitter'] | safe }}`);
                spark(cumulative_sum(data), '#drug_twitter_daily', 'total', {width: 300, height: 30});
            {% endif %}
        });
    </script>
{% endblock %}