<footer class="footer">
    <div class="container">
        <div class="row justify-content-center m-5">
            <div class="col-2 text-center">
                <a href="https://icahn.mssm.edu/research/bioinformatics" target="_blank">
                    <img class="rounded" src="{{ url_for('static', filename='icahn_cb.png') }}" style="height: 5rem;">
                </a>
            </div>
            <div class="col-2 text-center">
                <a href="http://lincs-dcic.org" target="_blank">
                    <img class="rounded" src="{{ url_for('static', filename='dcic_light.png') }}" style="height: 5rem;">
                </a>
            </div>
            <div class="col-2 text-center">
                <a href="https://labs.icahn.mssm.edu/maayanlab/" target="_blank">
                    <img class="rounded" src="{{ url_for('static', filename='maayanlab_logo.png') }}"
                         style="height: 5rem;">
                </a>
            </div>
            <div class="col-2">
                <div class="row my-2">
                    <a class="badge badge-secondary px-2" href="https://github.com/MaayanLab/covid19_crowd_library">
                        <span class="badge badge-light">
                            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                 style="width: 1rem;">
                </span>
                        View source code
                    </a>
                </div>
                <div class="row my-2">
                    <a class="badge badge-secondary px-2"
                       href="https://github.com/MaayanLab/covid19_crowd_library/issues/new">
                        <span class="badge badge-light">
                        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                             style="width: 1rem;">
                            </span>
                        Submit an issue
                    </a>

                </div>
            </div>
            <div class="col-2">
                <div class="row my-2">
                    <!-- Twitted share button -->
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                       data-text="A collection of drugs and gene sets related to COVID-19 research contributed by the community"
                       data-url="https://amp.pharm.mssm.edu/covid19" data-via="MaayanLab" data-hashtags="COVID, COVID19"
                       data-show-count="false">Tweet</a>
                </div>
                <div class="row my-2">
                    <!-- LinkedIn share button -->
                    <script type="IN/Share" data-url="https://amp.pharm.mssm.edu/covid19"></script>
                </div>
                <!-- Facebook share button -->
                <div class="row my-2">
                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/"
                         data-layout="button" data-size="small">
                        <a target="_blank"
                           href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                           class="fb-xfbml-parse-ignore">Share</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>