<form id="{{ c.set_type }}_form" class="needs-validation" novalidate>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span id="labelDescrShort" class="input-group-text">{{ c.Type }} set name</span>
            </div>
            <input type="text" class="form-control" name="descrShort" aria-describedby="labelDescrShort" required>
            <div class="invalid-feedback">Please provide a description.</div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span id="sourceLabel" class="input-group-text">{{ c.Type }} set source</span>
            </div>
            <input type="text" class="form-control" name="source" aria-describedby="sourceLabel">
        </div>
    </div>
    <div class="form-group">
        <label for="descrFull">How is this set related to COVID-19 research?</label>
        <textarea class="form-control" name="descrFull" rows="3" required></textarea>
        <div class="invalid-feedback">Please describe, how is this set related to COVID-19 research.</div>
    </div>
    <div class="form-group">
        <label for="{{ c.set_type }}">
            <abbr title="{{ c.title }}">{{ c.Type }} set</abbr>
        </label>
        <textarea class="form-control" name="{{ c.set_type }}" rows="7"
                  placeholder="Paste a {{ c.type }} set here" required></textarea>
        <div class="invalid-feedback">Please input a {{ c.type }}.</div>
    </div>
    <div class="form-group" id="meta-{{ c.type }}-form">
        <button type="button" class="btn btn-outline-primary" onclick="addMetaField('{{ c.type }}');"
                aria-describedby="metaHelpInline">Add metadata
        </button>
        <small id="metaHelpInline" class="text-muted ml-2">i.e. organism, tissue type, perturbation...</small>
    </div>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="labelAuthorName">Name</span>
            </div>
            <input type="text" class="form-control" name="authorName" aria-describedby="labelAuthorName" required>
            <div class="invalid-feedback">Please provide an author name.</div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="labelAuthorAff">Affiliation</span>
            </div>
            <input type="text" class="form-control" name="authorAff" aria-describedby="labelAuthorAff">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="labelAuthorEmail">E-mail</span>
            </div>
            <input type="email" class="form-control" name="authorEmail"  aria-describedby="labelAuthorEmail"
                   placeholder="name@example.com" required>
            <div class="invalid-feedback">Please provide an e-mail.</div>
        </div>
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" name="showContacts">
        <label class="form-check-label" for="showContacts">Share contact information</label>
    </div>

        <button id="submit_{{ c.set_type }}_button" type="button" class="btn btn-primary">
            Submit
        </button>

        <!-- Modal -->
        <div class="modal fade" id="{{ c.set_type }}Modal" tabindex="-1" role="dialog"
             aria-labelledby="{{ c.set_type }}ModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="color: #155724; background-color: #d4edda; border-color: #c3e6cb;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="{{ c.set_type }}ModalLabel">Your {{ c.type }} set was submitted</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Thank you for your contribution!
                            Your {{ c.type }} set will be evaluated by our staff and published soon.</p>
                    </div>
                </div>
            </div>
        </div>

</form>