{% extends "base.html" %}

{% block og %}
    <meta property="og:url" content="https://{{ base_path }}/covid19/genesets/{{ geneset['id'] }}"/>
    <meta property="og:title"
          content="{{ geneset['descrShort'] }} - The COVID-19 Drug and Gene Set Library"/>
    <meta property="og:description" content="{{ geneset['descrFull'] }}"/>
{% endblock %}

{% block head %}
    <title>{{ geneset['descrShort'] }}</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-4 mb-2">
            <div class="d-flex align-items-start">

                <a href={{ url_for("route_index") }}>
                    <img style="width: 2.5rem" src="{{ url_for('static', filename='logo.png') }}"></a>
                <a style="color: #212529" href={{ url_for("route_index") }}>
                    <h1 class="display-5">The COVID-19 Drug and Gene Set Library</h1></a>
            </div>
            <p>A collection of gene and drug sets related to COVID-19 research contributed by the community</p>
        </div>
        <div class="py-5 text-center">
            <h2>{{ geneset['descrShort'] }}</h2>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">{{ geneset['descrShort'] }}</h6>
                            <span class="text-muted wrapped">{{ geneset['descrFull'] }}</span>
                        </div>
                    </li>

                    {% if geneset['meta'] != None %}
                        {% for meta in geneset['meta'] %}
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">{{ meta }}</h6>
                                    <span class="text-muted wrapped">{{ geneset['meta'][meta] }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}

                    {% if geneset['source'] != None %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Source</h6>
                                {% if geneset['source'][0:4] == 'http' %}
                                    <span class="text-muted wrapped">
                                        <a href="{{ geneset['source'] }}">{{ geneset['source'] }}</a>
                                    </span>
                                {% else %}
                                    <span class="text-muted wrapped">{{ geneset['source'] }}</span>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}

                    {% if geneset['showContacts'] == 1 %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Author</h6>
                                <span class="text-muted wrapped">{{ geneset['authorName'] }}</span>
                            </div>
                        </li>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Affiliation</h6>
                                <span class="text-muted wrapped">{{ geneset['authorAffiliation'] }}</span>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">E-mail</h6>
                                <span class="text-muted wrapped">{{ geneset['authorEmail'] }}</span>
                            </div>
                        </li>
                    {% endif %}
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">En<span style="color:red">rich</span>r link</h6>
                            <span><a
                                    href="https://{{ base_path }}/Enrichr/enrich?dataset={{ geneset['enrichrShortId'] }}">
                                <i class="fas fa-external-link-alt ml-1" style="font-size: 0.9rem;"></i>
                            </a>
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Date added</h6>
                            <span class="text-muted wrapped">{{ geneset['date'].split(' ')[0] }}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="badge badge-secondary badge-pill">{{ geneset['genes']|length }} genes</span>
                </h4>
                <div class="mb-3">
                    {% for gene in geneset['genes']|sort %}
                        <a class="enriched-gene-link" href="https://{{ base_path }}/covid19/genes/{{ gene }}"
                           target="_blank">{{ gene }}</a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block socialbuttons %}
    <div class="col-md-2 col-sm">
        <div class="row my-2 ml-2">
            <!-- Twitted share button -->
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
               data-text="{{ geneset['descrShort'] }} from The COVID-19 Drug and Gene Set Library"
               data-url="https://{{ base_path }}/covid19/genesets/{{ geneset['id'] }}" data-via="MaayanLab"
               data-hashtags="COVID, COVID19"
               data-show-count="false">Tweet</a>
        </div>
        <div class="row my-2 ml-2">
            <!-- LinkedIn share button -->
            <script type="IN/Share" data-url="https://{{ base_path }}/covid19/genesets/{{ geneset['id'] }}"></script>
        </div>
        <!-- Facebook share button -->
        <div class="row my-2 ml-2">
            <div class="fb-share-button" data-href="https://{{ base_path }}/covid19/genesets/{{ geneset['id'] }}"
                 data-layout="button" data-size="small">
                <div class="fb-share-button" data-href="https://{{ base_path }}/covid19/genesets/{{ geneset['id'] }}"
                     data-layout="button"
                     data-size="small">
                    <a target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F{{ base_path }}%2Fcovid19%2Fgenesets%2F{{ geneset['id'] }}&amp;src=sdkpreparse"
                       class="fb-xfbml-parse-ignore">Share</a></div>
            </div>
        </div>
    </div>
{% endblock %}