{% extends "base.html" %}

{% block head %}
    <title>COVID-19 Crowd Generated Gene and Drug Set Library</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="d-flex align-items-start">
                <img style="width: 2.5rem" src="{{ url_for('static', filename='logo.png') }}">
                <h1 class="display-5">COVID-19 Crowd Generated Gene and Drug Set Library</h1>
            </div>
            <p class="text-center">A collection of drugs and gene sets related to COVID-19 research contributed by the
                community</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 text-center">
                <a class="subtle-link drugs" href="{{ url_for('route_index') }}#nav-drugs-table">{{ stats.n_drugsets }} drug sets</a>
            </div>
            <div class="col-2 text-center">
                <a class="subtle-link drugs" href="{{ url_for('route_stats') }}#nav-drugs-table">{{ stats.n_unique_drugs }} unique drugs</a>
            </div>
            <div class="col-2 text-center">
                <a class="subtle-link genes" href="{{ url_for('route_index') }}#nav-genes-table">{{ stats.n_genesets }} gene sets</a>
            </div>
            <div class="col-2 text-center">
                <a class="subtle-link genes" href="{{ url_for('route_stats') }}#nav-genes-table">{{ stats.n_unique_genes }} unique genes</a>
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-10">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item drugs nav-link" id="nav-drugs-table-tab" data-toggle="tab"
                           href="#nav-drugs-table" role="tab"
                           aria-controls="nav-drugs-table" aria-selected="false">Drug sets</a>
                        <a class="nav-item genes nav-link" id="nav-genes-table-tab" data-toggle="tab"
                           href="#nav-genes-table"
                           role="tab" aria-controls="nav-genes-table" aria-selected="true">Gene sets</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane drugs fade show border-left border-right border-bottom rounded-bottom p-3"
                         id="nav-drugs-table" role="tabpanel" aria-labelledby="nav-drugs-table-tab">
                        <div class="container-fluid" style="display: block">
                            <table id="drugset_table" class="table compact hover order-column row-border"
                                   style="width:100%">
                            </table>
                            <div class="row">
                                <a href="{{ url_for('download_drugsets') }}"><i class="fas fa-download mr-1"
                                                                                style="font-size: 0.9rem;"></i>Download
                                    all drug sets</a>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane genes fade border-left border-right border-bottom rounded-bottom p-3"
                         id="nav-genes-table" role="tabpanel" aria-labelledby="nav-genes-table-tab">
                        <div class="container-fluid" style="display: block">
                            <table id="geneset_table" class="table compact hover order-column row-border"
                                   style="width:100%">
                            </table>
                            <div class="row">
                                <a href="{{ url_for('download_genesets') }}"><i class="fas fa-download mr-1"
                                                                                style="font-size: 0.9rem;"> </i>Download
                                    all gene sets</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-10">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item drugs nav-link active" id="nav-drugs-form-tab" data-toggle="tab"
                           href="#nav-drugs-form" role="tab"
                           aria-controls="nav-drugs-form" aria-selected="false">Submit a drug set</a>
                        <a class="nav-item genes nav-link" id="nav-genes-form-tab" data-toggle="tab"
                           href="#nav-genes-form"
                           role="tab" aria-controls="nav-genes-form" aria-selected="true">Submit a gene set</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane drugs fade show active border-left border-right border-bottom rounded-bottom p-4"
                         id="nav-drugs-form"
                         role="tabpanel" aria-labelledby="nav-drugs-form-tab">
                        {% with c = {'title': "One drug name per line.", 'set_type': "drugSet", 'type': "drug", 'Type': "Drug"} %}
                            {% include "form.html" %}
                        {% endwith %}
                    </div>
                    <div class="tab-pane genes fade border-left border-right border-bottom rounded-bottom p-4"
                         id="nav-genes-form" role="tabpanel" aria-labelledby="nav-genes-form-tab">
                        {% with c = {'title': "HGNC-approved gene symbols. One gene symbol per line.", 'set_type': "geneSet", 'type': "gene", 'Type': "Gene"} %}
                            {% include "form.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <script>
        $(document).ready(function () {
            navTabsSync('#nav-drugs-table');
            ds_drawTable(1);
            gs_drawTable('{{ url_for("route_genesets_table") }}', 1);
        });
    </script>
{% endblock %}
