<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>COVID-19 Crowd Generated Gene and Drug Set Library</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="d-flex align-items-start">
            <img style="width: 2.5rem" src="{{ url_for('static', filename='logo.png') }}">
            <h1 class="display-5">COVID-19 Crowd Generated Gene and Drug Set Library</h1>
        </div>
        <p>A collection of gene and drug sets related to COVID-19 research contributed by the community</p>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-10">
            <table id="enrichr_table" class="compact hover order-column row-border">
            </table>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-10">
            <form action="{{ url_for('enrichr') }}" method="post">
                <div class="form-group row">
                    <label class="col-2" for="descrShort">Gene set name</label>
                    <div class="col-10">
                        <input type="text" class="form-control" name="descrShort">
                    </div>
                </div>
                <div class="form-group">
                    <label for="descrFull">How this set is related to COVID-19 research?</label>
                    <textarea class="form-control" name="descrFull" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="geneList">
                        Gene list
                        <i class="far fa-question-circle"
                           data-toggle="tooltip"
                           title="HGNC-approved gene symbols. One gene symbol per line."
                           data-placement="right"
                           style="color: darkgrey; font-size: 0.9rem;" aria-hidden="true"></i>
                    </label>
                    <textarea class="form-control" name="geneList" rows="7"></textarea>
                </div>

                <div class="form-group row">
                    <label class="col-2" for="authorName">Name</label>
                    <div class="col-10">
                        <input type="text" class="form-control" name="authorName">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2" for="authorAff">Affiliation</label>
                    <div class="col-10">
                        <input type="text" class="form-control" name="authorAff">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2" for="authorEmail">E-mail</label>
                    <div class="col-10">
                        <input type="email" class="form-control" name="authorEmail" placeholder="name@example.com">
                    </div>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="showContacts">
                    <label class="form-check-label" for="showContacts">Share contact information</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row justify-content-center m-5">
                        <div class="col-2 text-center">
                <a href="https://icahn.mssm.edu/research/bioinformatics" target="_blank">
                    <img class="rounded" src="{{ url_for('static', filename='icahn_cb.png') }}" style="height: 5rem;">
                </a>
            </div>
            <div class="col-2 text-center">
                <a href="http://lincs-dcic.org" target="_blank">
                    <img class="rounded" src="{{ url_for('static', filename='dcic_light.png') }}" style="height: 5rem;">
                </a>
            </div>
            <div class="col-2 text-center">
                <a href="https://labs.icahn.mssm.edu/maayanlab/" target="_blank">
                    <img class="rounded" src="{{ url_for('static', filename='maayanlab_logo.png') }}"
                         style="height: 5rem;">
                </a>
            </div>
            <div class="col-1">
                <div class="row my-2">
                    <a class="badge badge-secondary px-2" href="https://github.com/MaayanLab/covid19_crowd_library">
                        <span class="badge badge-light">
                            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                 style="width: 1rem;">
                </span>
                        View source code
                    </a>
                </div>
                <div class="row my-2">
                    <a class="badge badge-secondary px-2" href="https://github.com/MaayanLab/covid19_crowd_library">
                        <span class="badge badge-light">
                        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                             style="width: 1rem;">
                            </span>
                        Report a bug
                    </a>

                </div>
            </div>
        </div>
    </div>
</footer>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom_datatables.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/rg-1.1.1/sc-2.0.1/sp-1.0.1/datatables.min.js"></script>
<script type="text/javascript" src="https://kit.fontawesome.com/1295b553b3.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='enrichr.js') }}"></script>
<script>
    $(document).ready(function () {
        drawTable(1);
        $('[data-toggle="tooltip"]').tooltip();

        var $form = $('form');
        $form.submit(function () {
            $.post($(this).attr('action'), $(this).serialize(), function (response) {
                console.log(response);
            }, 'json');
            return false;
        });

    });
</script>
</body>
</html>