{% extends "base.html" %}

{% block og %}
    <meta property="og:url" content="https://{{ base_path }}/covid19/stats"/>
    <meta property="og:title"
          content="Submission statistics - The COVID-19 Drug and Gene Set Library"/>
    <meta property="og:description" content="Uniqie drug and gene counts from submitted sets"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-4 mb-2">
            <div class="d-flex align-items-start">

                <a href={{ url_for("route_index") }}>
                    <img style="width: 2.5rem" src="{{ url_for('static', filename='logo.png') }}"></a>
                <a style="color: #212529" href={{ url_for("route_index") }}>
                    <h1 class="display-5">The COVID-19 Drug and Gene Set Library</h1></a>
            </div>
            <p>A collection of gene and drug sets related to COVID-19 research contributed by the community</p>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-10">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item drugs nav-link" id="nav-drugs-table-tab" data-toggle="tab"
                           href="#nav-drugs-table" role="tab"
                           aria-controls="nav-drugs-table" aria-selected="false">Drug sets</a>
                        <a class="nav-item genes nav-link" id="nav-genes-table-tab" data-toggle="tab"
                           href="#nav-genes-table"
                           role="tab" aria-controls="nav-genes-table" aria-selected="true">Gene sets</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane drugs fade show border-left border-right border-bottom rounded-bottom p-3"
                         id="nav-drugs-table" role="tabpanel" aria-labelledby="nav-drugs-table-tab">
                        <p class="text-center">
                            Drug Sets: {{ stats.n_drugsets }}<br/>
                            Unique Drugs: {{ stats.n_unique_drugs }}
                        </p>
                        <nav class="nav nav-pills nav-stats-drugs mb-3" id="stats-drugs-tab" role="tablist">
                            <a class="nav-link round-pill active" id="stats-drugs-experimental-tab" data-toggle="pill"
                               href="#stats-drugs-experimental" role="tab" aria-controls="stats-drugs-experimental"
                               aria-selected="false">Experimental drug sets</a>
                            <a class="nav-link round-pill" id="stats-drugs-computational-tab" data-toggle="pill"
                               href="#stats-drugs-computational" role="tab" aria-controls="stats-drugs-computational"
                               aria-selected="false">Computational drug sets</a>
                            <a class="nav-link round-pill" id="stats-drugs-twitter-tab" data-toggle="pill"
                               href="#stats-drugs-twitter"
                               role="tab" aria-controls="stats-drugs-twitter" aria-selected="false">Twitter drug
                                sets</a>
                            <a class="nav-link round-pill" id="stats-drugs-all-tab" data-toggle="pill"
                               href="#stats-drugs-all"
                               role="tab" aria-controls="stats-drugs-all" aria-selected="true">All drug sets</a>
                        </nav>
                        <div class="tab-content" id="stats-drugs-tabContent">
                            <div class="tab-pane fade show active" id="stats-drugs-experimental" role="tabpanel"
                                 aria-labelledby="stats-drugs-experimental-tab">
                                <nav class="nav nav-pills mb-3" id="experimental-table-tab" role="tablist">
                                    <a class="nav-link cat-pill active" id="experimental-table-home-tab" data-toggle="pill"
                                       href="#experimental-table-home" role="tab"
                                       aria-controls="experimental-table-home"
                                       aria-selected="true">Table</a>
                                    <a class="nav-link cat-pill" id="experimental-table-profile-tab" data-toggle="pill"
                                       href="#experimental-table-profile" role="tab"
                                       aria-controls="experimental-table-profile"
                                       aria-selected="false"><i class="far fa-chart-bar"></i>Top 20 drugs</a>
                                </nav>
                                <div class="tab-content" id="experimental-table-tabContent">
                                    <div class="tab-pane fade show active" id="experimental-table-home" role="tabpanel"
                                         aria-labelledby="experimental-table-home-tab">
                                        <div class="container-fluid" style="display: block">
                                            <table id="top_drugs_experimental_table"
                                                   class="table compact hover order-column row-border"
                                                   style="width:100%">
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="experimental-table-profile" role="tabpanel"
                                         aria-labelledby="experimental-table-profile-tab">
                                        <svg id="drugs_experimental_bargraph"></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="stats-drugs-computational" role="tabpanel"
                                 aria-labelledby="stats-drugs-computational-tab">
                                <nav class="nav nav-pills mb-3" id="computational-table-tab" role="tablist">
                                    <a class="nav-link cat-pill active" id="computational-table-home-tab" data-toggle="pill"
                                       href="#computational-table-home" role="tab"
                                       aria-controls="computational-table-home"
                                       aria-selected="true">Table</a>
                                    <a class="nav-link cat-pill" id="computational-table-profile-tab" data-toggle="pill"
                                       href="#computational-table-profile" role="tab"
                                       aria-controls="computational-table-profile"
                                       aria-selected="false"><i class="far fa-chart-bar"></i>Top 20 drugs</a>
                                </nav>
                                <div class="tab-content" id="computational-table-tabContent">
                                    <div class="tab-pane fade show active" id="computational-table-home" role="tabpanel"
                                         aria-labelledby="computational-table-home-tab">
                                        <div class="container-fluid" style="display: block">
                                            <table id="top_drugs_computational_table"
                                                   class="table compact hover order-column row-border"
                                                   style="width:100%">
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="computational-table-profile" role="tabpanel"
                                         aria-labelledby="computational-table-profile-tab">
                                        <svg id="drugs_computational_bargraph"></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="stats-drugs-twitter" role="tabpanel"
                                 aria-labelledby="stats-drugs-twitter-tab">
                                <nav class="nav nav-pills mb-3" id="twitter-table-tab" role="tablist">
                                    <a class="nav-link cat-pill active" id="twitter-table-home-tab" data-toggle="pill"
                                       href="#twitter-table-home" role="tab" aria-controls="twitter-table-home"
                                       aria-selected="true">Table</a>
                                    <a class="nav-link cat-pill" id="twitter-table-profile-tab" data-toggle="pill"
                                       href="#twitter-table-profile" role="tab" aria-controls="twitter-table-profile"
                                       aria-selected="false"><i class="far fa-chart-bar"></i>Top 20 drugs</a>
                                </nav>
                                <div class="tab-content" id="twitter-table-tabContent">
                                    <div class="tab-pane fade show active" id="twitter-table-home" role="tabpanel"
                                         aria-labelledby="twitter-table-home-tab">
                                        <div class="container-fluid" style="display: block">
                                            <table id="top_drugs_twitter_table"
                                                   class="table compact hover order-column row-border"
                                                   style="width:100%">
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="twitter-table-profile" role="tabpanel"
                                         aria-labelledby="twitter-table-profile-tab">
                                        <svg id="drugs_twitter_bargraph"></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="stats-drugs-all" role="tabpanel"
                                 aria-labelledby="stats-drugs-all-tab">
                                <nav class="nav nav-pills mb-3" id="all-table-tab" role="tablist">
                                    <a class="nav-link cat-pill active" id="all-table-home-tab" data-toggle="pill"
                                       href="#all-table-home" role="tab" aria-controls="all-table-home"
                                       aria-selected="true">Table</a>
                                    <a class="nav-link cat-pill" id="all-table-profile-tab" data-toggle="pill"
                                       href="#all-table-profile" role="tab" aria-controls="all-table-profile"
                                       aria-selected="false"><i class="far fa-chart-bar"></i>Top 20 drugs</a>
                                </nav>
                                <div class="tab-content" id="all-table-tabContent">
                                    <div class="tab-pane fade show active" id="all-table-home" role="tabpanel"
                                         aria-labelledby="all-table-home-tab">
                                        <div class="container-fluid" style="display: block">
                                            <table id="top_drugs_all_table"
                                                   class="table compact hover order-column row-border"
                                                   style="width:100%">
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="all-table-profile" role="tabpanel"
                                         aria-labelledby="all-table-profile-tab">
                                        <svg id="drugs_all_bargraph"></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="tab-pane genes fade border-left border-right border-bottom rounded-bottom p-3"
                     id="nav-genes-table" role="tabpanel" aria-labelledby="nav-genes-table-tab">
                    <p class="text-center">
                        Gene Sets: {{ stats.n_genesets }}<br/>
                        Unique Genes: {{ stats.n_unique_genes }}
                    </p>
                    <div class="nav nav-pills mb-3" id="genes-table-tab" role="tablist">
                        <a class="nav-link cat-pill active" id="genes-table-home-tab" data-toggle="pill"
                           href="#genes-table-home" role="tab" aria-controls="genes-table-home"
                           aria-selected="true">Table</a>
                        <a class="nav-link cat-pill" id="genes-table-profile-tab" data-toggle="pill"
                           href="#genes-table-profile" role="tab" aria-controls="genes-table-profile"
                           aria-selected="false"><i class="far fa-chart-bar"></i>Top 20 genes</a>
                    </div>
                    <div class="tab-content" id="genes-table-tabContent">
                        <div class="tab-pane fade show active" id="genes-table-home" role="tabpanel"
                             aria-labelledby="genes-table-home-tab">
                            <table id="top_genes_table" class="table compact hover order-column row-border"
                                   style="width:100%">
                            </table>
                        </div>
                        <div class="tab-pane fade" id="genes-table-profile" role="tabpanel"
                             aria-labelledby="genes-table-profile-tab">
                            <svg id="genes_bargraph"></svg>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block socialbuttons %}
    <div class="col-md-2 col-sm">
        <div class="row my-2 ml-2">
            <!-- Twitted share button -->
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
               data-text="A collection of drug and gene sets related to COVID-19 research contributed by the community"
               data-url="https://{{ base_path }}/covid19/stats" data-via="MaayanLab" data-hashtags="COVID, COVID19"
               data-show-count="false">Tweet</a>
        </div>
        <div class="row my-2 ml-2">
            <!-- LinkedIn share button -->
            <script type="IN/Share" data-url="https://{{ base_path }}/covid19/stats"></script>
        </div>
        <!-- Facebook share button -->
        <div class="row my-2 ml-2">
            <div class="fb-share-button" data-href="https://{{ base_path }}/covid19/stats"
                 data-layout="button" data-size="small">
                <div class="fb-share-button" data-href="https://{{ base_path }}/covid19/stats" data-layout="button"
                     data-size="small">
                    <a target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F{{ base_path }}%2Fcovid19%2Fstats&amp;src=sdkpreparse"
                       class="fb-xfbml-parse-ignore">Share</a></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bargraph.js') }}"></script>
    <script>
        function renderTable(wrapper, route, category){
            let cat_url = ''
            if (category !== 0) {
                cat_url = `/${category}`
            }
            $(wrapper).DataTable({
                width: '100%',
                columns: [
                    {title: 'Symbol', data: 'symbol', searchable: true, orderable: true},
                    {title: 'Count', data: 'count', searchable: false, orderable: true},
                ],
                order: [[1, 'desc']],
                responsive: true,
                serverSide: true,
                ajax: {
                    url: `${route}${cat_url}`,
                    type: 'POST',
                    data: function (args) {
                        return {body: JSON.stringify(args)};
                    }
                },
            })
        }

        function drawChart(type, category, color, len){
            let cat_url = ''
            let url_prefix = 'https://{{ base_path }}/covid19'
            if (category !== 0) {
                cat_url = `/${category}`
            }
            $.get(`${url_prefix}${type}${cat_url}`, function (data) {
                chart(JSON.parse(data)['data'], 'genes', len, color);
            });
        }

        $(document).ready(function () {
            navTabsSync('#nav-drugs-table')
            {#let url_prefix = 'https://{{ base_path }}/covid19'#}

            $.get('top_genes', function (data) {
                chart(JSON.parse(data)['data'], 'genes', 20, "#3e8cd6");
            });

            $.get('top_drugs', function (data) {
                console.log(JSON.parse(data)['data'])
                chart(JSON.parse(data)['data'], 'drugs_all', 20, "#ff8080");
            });

            $.get('top_drugs/2', function (data) {
                chart(JSON.parse(data)['data'], 'drugs_experimental', 20, "#ff8080");
            });

            $.get('top_drugs/3', function (data) {
                chart(JSON.parse(data)['data'], 'drugs_computational', 20, "#ff8080");
            });

            $.get('top_drugs/4', function (data) {
                chart(JSON.parse(data)['data'], 'drugs_twitter', 20, "#ff8080");
            });

            renderTable('#top_genes_table', '{{ url_for('route_top_genes') }}', 0);
            renderTable('#top_drugs_experimental_table', '{{ url_for("route_top_drugs") }}', 2);
            renderTable('#top_drugs_computational_table', '{{ url_for("route_top_drugs") }}', 3);
            renderTable('#top_drugs_twitter_table', '{{ url_for("route_top_drugs") }}', 4);
            renderTable('#top_drugs_all_table', '{{ url_for("route_top_drugs") }}', 0);
        })
    </script>
{% endblock %}